import "./{{pascalCase name}}.scss"

type Props = {}

const {{pascalCase name}}:React.FC<Props> = () => {
return (
<div className='{{pascalCase name}}'>
  <h1>{{pascalCase name}}</h1>
</div>
)
}

export default {{pascalCase name}};